@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=Oswald:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

:root {
  --clr-black: #262a33f6;
  --clr-dark-light: #3b4050;
  --clr-gray: #6f737f;
  --clr-white: #ffffff;
  --clr-yellow: #a59678;
  --clr-hover: #8a8c96;

  --ff-Oswald: Oswald;
  --ff-montserrat: Montserrat;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-montserrat);
}

h2 {
  font-family: var(--ff-Oswald);
  font-size: clamp(1.7rem, 2vw, 3rem);
  color: var(--clr-yellow);
  margin-bottom: 0.7em;
}

/* css grouped selectors---------------------*/

.padding {
  padding-inline: 1.7em;
  max-width: 1200px;
  margin: 0 auto;
}
.menu a,
.heading-2 p,
.three-col p,
.content,
.footer-h2,
.footer p,
.footer a,
button {
  letter-spacing: 1px;
}
.heading-2 p,
.columns p,
.footer p,
.footer a {
  color: #cfcfcf;
}
.heading-1,
.menu a,
.columns h2,
.footer-h2,
button a {
  color: var(--clr-white);
}
.three-col p,
.sidebar-sec p {
  font-size: clamp(1rem, 1.2vw, 1.7rem);
}

/* navbar menu starts here--------------------*/

.nav-container {
  padding: 1em 0;
  position: fixed;
  background-color: var(--clr-black);
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  display: block;
  z-index: 9999;
}
.menu {
  position: absolute;
  display: none;
  background-color: var(--clr-black);
  top: 99%;
  width: 100%;
}
.menu a {
  margin-block: 1em;
}
.burger-lines {
  display: block;
}
.nav-input:checked ~ .menu {
  display: block;
}

/* code remains everywere---------------------*/
.menu a {
  display: inline-block;
  font-family: var(--ff-Oswald);
  font-weight: 700;
  text-transform: uppercase;
  color: #d8d8d8;
}

* > a:hover {
  color: var(--clr-hover);
  transition: color 200ms ease-in-out;
}

.nav-label {
  position: absolute;
  right: 2em;
  top: 0;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nav-label:hover {
  cursor: pointer;
}
.burger-lines {
  width: 1.5em;
  height: 4px;
  border-radius: 20px;
  background-color: var(--clr-white);
  margin-block: 2px;
  transition: all 0.3s ease-in-out;
}
.nav-input:checked ~ .nav-label .burger-lines:nth-child(1) {
  transform: translateY(8px) rotate(225deg);
}
.nav-input:checked ~ .nav-label .burger-lines:nth-child(3) {
  transform: translateY(-8px) rotate(-225deg);
}
.nav-input:checked ~ .nav-label .burger-lines:nth-child(2) {
  opacity: 0;
}
.nav-input {
  display: none;
}

/* heading section starts her------------------*/
.bg-heading {
  background-color: var(--clr-dark-light);
  padding-top: 4em;
}
.heading {
  padding: 3em 1.7em 4.5em;
  font-family: var(--ff-Oswald);
  width: 100%;
}

.heading-1 {
  font-weight: bold;
  font-size: clamp(1.7rem, 4vw, 3rem);
  margin-bottom: 2em;
}
.heading-span {
  color: var(--clr-yellow);
}
.heading-2 p {
  font-family: var(--ff-montserrat);
  font-size: clamp(1.2rem, 2vw, 2.2rem);
  margin-block: 1.3em;
  line-height: 1.5em;
}
button {
  font-weight: bold;
  font-size: clamp(0.8rem, 2.7vw, 1.3rem);
  margin-block: 1em;
  padding: 0.7em 2em;
  border-radius: 50px;
  border: none;
  background-color: var(--clr-yellow);
  position: relative;
  z-index: 1;
}
button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #beb197;
  border-radius: 50px;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
button:hover::before,
button:focus::before {
  transform: scaleX(1);
}
button a {
  color: var(--clr-black);
}
button:hover a,
button:focus a {
  color: var(--clr-black);
}

/* three-col section starts here---------------*/
.bg-three-col {
  background-color: #f1eee8;
}
.three-col {
  padding-block: 5em;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* content section srarts here----------------*/

.content-img {
  max-width: 100%;
  margin-block: 1em;
}
.content,
.aside-content {
  margin-block: 3.7em;
}
.aside-content {
  text-align: center;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.columns {
  padding: 1.7em;
  background-color: var(--clr-dark-light);
}

/* footer section starts here-------------------*/
.bg-footer {
  background-color: var(--clr-dark-light);
}
.footer {
  padding-block: 5em 1em;
}
.footer-h2 {
  text-align: center;
  font-size: clamp(2rem, 4vw, 3rem);
  margin-block-end: 1.5em;
}
.four-col h2 {
  font-size: 21px;
}
.four-col {
  margin-block-end: 2em;
}
.four-col li {
  margin-block-end: 1.7em;
}

/* mediaqueries starts here --------------------*/
/* total five media breack points--------------*/

@media (min-width: 370px) {
  .four-col-div {
    display: grid;
    grid-gap: 1.7em;
    grid-template-columns: repeat(3, 1fr);
  }
  .col-1 {
    grid-column: 1 / -1;
  }
  .four-col {
    margin-block-end: 1em;
  }
}

@media (min-width: 600px) and (max-width: 930px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .col {
    width: 30%;
  }
}

@media (min-width: 700px) {
  .padding {
    padding-inline: 3.5em;
  }

  /* heading media chcanges starts here---------- */
  .heading {
    background-color: var(--clr-dark-light);
    padding: 5em 3.5em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .heading-1 {
    font-family: var(--ff-Oswald);
    font-weight: bold;
    font-size: clamp(2rem, 4vw, 4rem);
  }
  .heading-1,
  .heading-2 {
    width: 47%;
  }
  .heading-1,
  button {
    margin-bottom: 0;
  }

  /* navigation section starts here--------------*/
  .nav-container {
    padding: 1em 3.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    position: relative;
    width: 75%;
    display: flex;
    justify-content: space-between;
  }
  .burger-lines {
    display: none;
  }
  .nav-input:checked ~ .menu {
    display: flex;
  }

  /* sidebar section starts here-----------------*/

  .sidebar-sec {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .content {
    width: 55%;
  }
  .aside-content {
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  /* footer container starts here---------------- */
  .footer-h2 {
    margin-block-end: 1.7em;
  }
  .four-col-div {
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat(5, 1fr);
  }
  .col-1 {
    grid-column: span 2;
  }
}

@media (min-width: 1000px) {
  .menu {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
  }
}
